pandas
loguru
minio
PyYAML
deltalake
numpy
pyspark
psycopg2-binary
sqlalchemy
confluent-kafka
python-dotenv
apache-flink
catboost
fastapi
joblib
loguru
uvicorn[standard]
apache-airflow
apache-airflow-providers-postgres
airflow-provider-great-expectations
apache-airflow-providers-docker